@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

/* Fonts: Karla and Inter */

:root {
    --white: rgb(204, 204, 204);
    --title-green: #4ADF86;
    --btn-green: #118d63;
    --pass-green: #55F991;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0a29;
    position: relative;
}

.card {
    width: 80%;
    min-height: 60%;
    padding: 3rem;
    background-color: #0a1d39;
    border-radius: .3rem;
}

header {
    border-bottom: rgb(231, 231, 231, .15) 1px solid;
    margin-bottom: 1.7rem;
}

header h1 {
    color: var(--white);
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

header h1 span {
    color: var(--title-green);
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

header p {
    color: var(--white);
    margin-bottom: 1.5rem;
    font-size: .65rem;
}

header button {
    width: 80%;
    min-height: 2rem;
    padding: .2rem;
    padding-left: .8rem;
    margin-bottom: 1.7rem;
    /*  */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*  */
    background-color: var(--btn-green);
    font-size: .67rem;
    font-weight: 600;
    color: var(--white);
    border-radius: .25rem;
}

header button:active {
    background-color: #1b9f73;
}

header button svg {
    margin-right: .7rem;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section [type="button"] {
    width: 100%;
    min-height: 100%;
    padding: .5rem;
    border-radius: .25rem;
    margin-bottom: .6rem;
    /*  */
    background-color: #15335e;
    color: var(--pass-green);
    /*  */
    font-size: .67rem;
    text-align: center;
    /*  */
    cursor: pointer;
    transition: 100ms;
}

section [type="button"]:nth-child(4) {
    margin-bottom: 1.5rem;
}

section [type="button"]:active {
    color: var(--white);
    background-color: #29a360;
}

section p {
    font-size: .5rem;
    color: var(--white);
}

footer {
    width: 100vw;
    min-height: 4rem;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -100%;
    /*  */
    color: var(--white);
    background-color: var(--btn-green);
    /*  */
    font-size: .8rem;
}

footer.active {
    animation-name: popup;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes popup {
    10% {
        bottom: 0;
    }
    60% {
        bottom: 0;
    }
    100% {
        bottom: -100%;
    }
}

footer svg {
    width: 24px;
    height: 24px;
    margin-right: .3rem;
}


/* Media queries */

@media (min-width:460px) {
    header h1 {
        font-size: 1.3rem;
    }
    header p {
        font-size: .75rem;
    }
    header button {
        min-height: 2.4rem;
        width: 60%;
    }
    section {
        min-height: 10rem;
        align-items: flex-start;
    }
    section [type="button"] {
        flex: 0 0 8rem;
        min-height: 3rem;
        margin: 0;
    }
    section [type="button"]:nth-child(n+3) {
        margin-bottom: 1.5rem;
    }
    section p {
        font-size: .6rem;
    }
}

@media (min-width:505px) {
    header button {
        min-height: 2.4rem;
        width: 10.2rem;
    }
    section [type="button"] {
        flex: 0 0 45%;
        min-height: 3rem;
        margin: 0;
    }
}

@media (min-width:740px) {
    header h1 {
        font-size: 1.5rem;
    }
    header p {
        font-size: .95rem;
    }
    header svg {
        margin: 0 1rem 0;
    }
    header button {
        min-height: 2.6rem;
        width: 12rem;
        font-size: .75rem;
    }
    section {
        min-height: 10rem;
        align-items: flex-start;
    }
    section [type="button"] {
        flex: 0 0 45%;
        min-height: 3rem;
        margin: 0;
        font-size: .8rem;
    }
    section [type="button"]:nth-child(n+3) {
        margin-bottom: 1.5rem;
    }
    section p {
        font-size: .7rem;
    }
    footer {
        width: 60vw;
        max-height: 4rem;
        /*  */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 300px;
        opacity: 0;
        z-index: -2;
        /*  */
        color: var(--white);
        background-color: var(--btn-green);
        border-radius: .25rem;
        /*  */
        font-size: .8rem;
    }
    footer.active {
        animation-name: popup;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    @keyframes popup {
        10% {
            top: 10rem;
            opacity: 1;
        }
        60% {
            top: 10rem;
            opacity: 1;
        }
        100% {
            top: 300px;
            opacity: 0;
        }
    }
    footer svg {
        width: 24px;
        height: 24px;
        margin-right: .3rem;
    }
}

@media (min-width:800px) {
    .card {
        width: 50%;
    }
    header h1 {
        font-size: 1.8rem;
    }
    header p {
        font-size: 1.25rem;
    }
    header svg {
        margin: 0 1rem 0;
    }
    header button {
        min-height: 2.6rem;
        width: 15rem;
        font-size: .85rem;
    }
    section {
        min-height: 10rem;
        align-items: flex-start;
    }
    section [type="button"] {
        flex: 0 0 45%;
        min-height: 3rem;
        margin: 0;
        font-size: .9rem;
        margin-bottom: 1.5rem;
    }
    /* section [type="button"]:nth-child(n+3) {
        margin-bottom: 1.5rem;
    } */
    section p {
        font-size: .7rem;
    }
    footer {
        width: 40vw;
        max-height: 4rem;
        /*  */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 300px;
        opacity: 0;
        z-index: -2;
        /*  */
        color: var(--white);
        background-color: var(--btn-green);
        border-radius: .45rem;
        /*  */
        font-size: .9rem;
    }
    footer.active {
        animation-name: popup;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    @keyframes popup {
        10% {
            top: 5%;
            opacity: 1;
        }
        60% {
            top: 5%;
            opacity: 1;
        }
        100% {
            top: 300px;
            opacity: 0;
        }
    }
    footer svg {
        width: 24px;
        height: 24px;
        margin-right: .3rem;
    }
}

@media (min-width:800px) {}