@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

/* Fonts: Karla and Inter */

:root {
    --white: rgb(204, 204, 204);
    --title-green: #4ADF86;
    --btn-green: #118d63;
    --pass-green: #55F991;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0a29;
}

.card {
    width: 80%;
    min-height: 60%;
    padding: 3rem;
    background-color: #0a1d39;
}

header {
    border-bottom: rgb(231, 231, 231, .15) 1px solid;
    margin-bottom: 1.7rem;
}

header h1 {
    color: var(--white);
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

header h1 span {
    color: var(--title-green);
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

header p {
    color: var(--white);
    margin-bottom: 1.5rem;
    font-size: .65rem;
}

header button {
    width: 80%;
    min-height: 2rem;
    padding: .2rem;
    padding-left: .8rem;
    margin-bottom: 1.7rem;
    /*  */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*  */
    background-color: var(--btn-green);
    font-size: .67rem;
    font-weight: 600;
    color: var(--white);
    border-radius: .25rem;
}

header button:active {
    background-color: #1b9f73;
}

header button svg {
    margin-right: .7rem;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section [type="button"] {
    width: 100%;
    min-height: 100%;
    padding: .5rem;
    border-radius: .25rem;
    margin-bottom: .6rem;
    /*  */
    background-color: #15335e;
    color: var(--pass-green);
    /*  */
    font-size: .67rem;
    text-align: center;
    /*  */
    cursor: pointer;
    transition: 100ms;
}


/* section [type="button"]::selection {
    background-color: transparent;
} */

section [type="button"]:nth-child(4) {
    margin-bottom: 1.5rem;
}

section [type="button"]:active {
    color: var(--white);
    background-color: #29a360;
}

section p {
    font-size: .5rem;
    color: var(--white);
}